.container{
    width: 67%;
    border: 3px solid palevioletred;
    background-color: pink;
    padding: 15px; 
    text-align: center;
}

body{
    background-image: url('https://i.pinimg.com/1200x/9d/43/de/9d43de7e6617ea55388d7e8c7ac1b4ff.jpg');
}